* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.article {
    margin: 8px;
    width: 300px;
    padding: 16px;
    background-color: bisque;
    flex-shrink: 0;
    flex-grow: 1;
    box-sizing: border-box;
    display: block;
    padding-bottom: 6px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}