* {
    box-sizing: border-box;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    line-height: 100px;
    background-color: coral;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    animation: wik 2s;
    position: relative;
    animation-fill-mode: forwards;
    transition-timing-function: ease;
}

@keyframes wik {
    0% {
        top: -100px;
    }
    100% {
        top: calc(50vh - 50px);
    }
}